.App {
  padding-top: 15px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.record-button {
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px;

}

.record-button:hover {
  background-color: white;
  color: black;
}

.record-button-icon {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

p {
  margin-bottom: 0;
}

.row {
  margin-top: 60px;
}